<div class="form pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col p-5">
                <form action="" method="post" class="text-center">
                    <h1> Question 1 </h1>
                    <blockquote> I prefer to do things on my own, rather than with others. </blockquote>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary"> Definitely Agree </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary">  Slightly Agree </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary"> Definitely Disagree </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary"> Slightly Disagree </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
</div>